ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CODE_SIGN_ENTITLEMENTS=dg-muscle-ios/dg_muscle_ios.entitlements
CODE_SIGN_IDENTITY=iPhone Developer
CURRENT_PROJECT_VERSION=1
ENABLE_PREVIEWS=YES
INFOPLIST_FILE=Derived/InfoPlists/App-Info.plist
INFOPLIST_KEY_CFBundleDisplayName=DgMuscle
INFOPLIST_KEY_LSApplicationCategoryType=public.app-category.healthcare-fitness
MARKETING_VERSION=2.0.0
PRODUCT_BUNDLE_IDENTIFIER=com.donggyu.dg-muscle-ios
PRODUCT_NAME=App
SDKROOT=iphoneos
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD=NO
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

LD_RUNPATH_SEARCH_PATHS[config=debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=release]=$(inherited) @executable_path/Frameworks
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=debug]=$(inherited) DEBUG
SWIFT_COMPILATION_MODE[config=debug]=singlefile
SWIFT_COMPILATION_MODE[config=release]=wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=debug]=-Onone
SWIFT_OPTIMIZATION_LEVEL[config=release]=-Owholemodule
DEVELOPMENT_TEAM=YV58Q28W8Z
